
@font-face {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    src: local("Josefin Sans"), url("/src/assets/font/JosefinSans-Regular.ttf");
}

body {
    font-family: "Josefin Sans";
    font-size: 18px;
    @apply text-light_theme-dark-grayish-blue dark:text-dark_theme-light-grayish-blue;
}