@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    src: local("Josefin Sans"), url("src/assets/font/JosefinSans-Regular.ttf");
}

body {
    font-family: "Josefin Sans";
}
